<%
	let subtotal = 0
	let precioFinal = 0
	let des = 0;
	let impuesto = 0;

	if (tipoViaje === "2") { 
		subtotal = precio * 1.80; 
	} else if (tipoViaje === "1") {
		subtotal = precio;
	}

	if (edad >= 60) {
		des = subtotal * 0.50;
	}

	impuesto = (subtotal - des) * 0.16;
	precioFinal = subtotal - des + impuesto;
%>
<label for="">Subtotal</label>
<input type="number" value="<%=subtotal%>" name="subtotal" id="subtotal"disabled><br> <br>

<label for="">Impuesto</label>
<input type="number" value="<%=impuesto%>" name="impuesto" id="impuesto"disabled><br> <br>

<label for="">Descuento</label>
<input type="number" value="<%=des%>" name="des" id="des"disabled><br> <br>

<label for="">Total a pagar</label>
<input type="number" value="<%=precioFinal%>" name="precioFinal" id="precioFinal"disabled><br> <br>