<!DOCTYPE html>
<html lang="en">
<body>
    <div style="background-color: rgb(172, 248, 248);">
        <%-include('partials/encabezado.html')%>
        <center>
            <form method="post" action="">
                <label for="">Num Boleto</label>
                <input type="text" id="nBoletos" name="nBoletos" value="<%=nBoletos%>" required> <br> <br>
                <label for="">Destino</label>
                <input type="text" id="destino" name="destino" value="<%=destino%>" required> <br> <br>
                <label for="">Nombre del Cliente</label>
                <input type="text" id="nombre" name="nombre" value="<%=nombre%>" required> <br> <br>
                <label for="">Años Cumplidos</label>
                <input type="number" id="edad" name="edad" value="<%=edad%>" required> <br> <br>
                <label for="">Tipo de Viaje</label>
                <select name="tipoViaje" id="tipoViaje" required>
                    <option value="-1" <% if(!tipoViaje) { %> selected <% } %> disabled>Seleccione una opcion</option>
                    <option value="1" <% if(tipoViaje === "1") { %> selected <% } %>>Sencillo</option>
                    <option value="2" <% if(tipoViaje === "2") { %> selected <% } %>>Doble</option>
                </select> <br> <br>
                <label for="">Precio</label>
                <input type="number" id="precio" name="precio" value="<%=precio%>" required> 
                <br>
                <hr>
                <br>
                <center>
                    <button type="submit">Calcular</button> 
                    <button type="reset">Limpiar</button> <br> <br>
                </center>
                <%- include('./partials/final.html') %>
            </form>
        </center>
        <%-include('partials/piePagina.html')%>
    </div>
</body>
</html>